@import url(/css/fonts.css);

body  {
    background: #FFFFFF;
    box-sizing: border-box;
    margin: 0;
}

header {
    z-index: 5;
    top: 0;
    padding: 20px 0;
    height: 30px;
    position: sticky;
    background: #FFFFFF;
}

.logo_container {
    display: inline;
    margin-left: 150px;
}


.logo_container img {
    max-height: 100%;
}
.logo_head {
    margin-right: 15px;
    transition: transform 150ms ease-out, transform 150ms ease-out;
}

.logo_head:hover {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes flip {
    0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    } 

nav {
    float: right;
    margin-right: 150px;
}

ul {
    display: table;
    padding: 0px 0px;
    padding: 0;
    margin: 0;
    border-spacing: 30px 0;
}

ul li {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
    margin-right: 200px;
}

nav li a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 100;
}

nav li a:hover {
    text-decoration: underline;
}

h2 {
    color: #14183E;
    font-weight: 700;
    font-family: 'Volkhov-regular';
    font-size: 50px;
    line-height: 64.5px;
}

h1 {
    font-family: 'Volkhov-regular';
    font-size: 84px;
    color: #FFFFFF;
    width: 40%;
}

h5 {
    font-family: 'Poppins-bold';
    font-size: 15px;
    font-weight: 300;
    line-height: 27.24px;
}

.poppins_r {
    font-family: 'Poppins-regular';
}



.logo_head {
    width: 38.55px;
    height: 39.67px;
}

.logo_name {
    width: 95.33px;
    height: 28.2px;
    left: 201.36px;
    top: 24.09px;
}

.section1 {
    background-image: url(/img/shutterstock_1721943142\ 1.png);
    padding: 70px 150px;
    background-origin: border-box;
    background-size: cover;
}

.section1 p {
    font-family: 'Poppins-bold';
    font-size: 16px;
    color: #BFC0CD;
}

.text_slogan {
    color: rgba(223, 105, 81, 1);
    font-family: 'poppins-bold';
    font-size: 20px;
    text-transform: uppercase;
}

.btn_carte {
    color : white;
    font-family: 'Volkhov-regular';
}

.text_news {
    font-family: "Volkhov-regular";
    font-size: 50px;
    color: #14183E
}

.section2 > p, h5{
    margin: 25px;
}

.section2 > p {
    color: #5E6282;
    font-size: 16px;
    font-weight: 550;
}

.section2 .discover {
    text-transform: uppercase;
    font-family: 'poppins-bold';
    line-height: 27px;
    font-size: 18px;
    color: rgba(94, 98, 130, 1);
    margin-top: 25px;
}

.section3 >p {
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: rgba(94, 98, 130, 1);
}

.saumon {
    color: rgba(223, 105, 81, 1);
}

.title{
    font-weight: 700;
    font-size: 16px;
    line-height: 19.92px;
    color: black;
    margin-left: 50px;
    line-height: 50px;
    text-decoration-color: blue;
}

.url_details {
    margin-left: 50px;
    font-weight: 200;
    color: #66666A;
}

.jadoo {
    margin-top: 0px
}

.nav_footer {
    list-style: none;
    line-height: 2.2;
}

.n_title {
    font-family: 'poppins-bold';
    text-decoration: none;
}

.nav_footer a {
    text-decoration: none;
    color: black;
}
.nav_footer a:hover {
    text-decoration: underline;
}