@import url(/css/fonts.css);

body  {
    width: 100%;
    height: 73px;
    margin: 0px;
    top: 0px;
    background: #FFFFFF;
}

header {
    display: flex;
    width: 100%;
    height: 73px;
    margin: 15px;
    top: 0px;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    margin-right: 30px;
}

nav li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.logo_head {
    width: 38.55px;
    height: 39.67px;
}

.logo_name {
    width: 95.33px;
    height: 28.2px;
    left: 201.36px;
    top: 24.09px;
}